body {
    background-color: #1a0410;
    color: white;
}

a, p, div, li, canvas {
    color: white;
}

canvas {
    display: block;
    background-color: white;
    border: 4px solid #831e72;
}

.right {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.block {
    margin: 20px;
}
